#projects{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    gap: 30px;
}
.slider{
    width: 90%;
    height: 300px;
    display: flex;
    align-items: center;
    overflow-y: hidden;
    overflow-x: scroll;
    gap: 30px;
    scrollbar-width: none;
    padding: 20px;
}
#para{
    font-size: 8vmax;
    background: linear-gradient(to right,rgb(227, 28, 55),white);
    background-clip: text;
    color: transparent;
    text-align: center;
}
@media (max-width:750px) {
    /* #projects{
        
    } */
    /* .slider{
        flex-direction: column;
        height: 400px;
    } */
}